@import './variables.css';

html, body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}
.searchbar{
    margin: 15vh;
    display: flex;
    justify-content: center;
}
.searchbar input{
    padding: 2vh;
    border-radius: 1vw;
    width: 90%;
    border: 4px solid;
    font-size: 1.5vw;
}