html, body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgb(77, 111, 134), rgba(255,0,0,0));
}
#hero h1{
    width: 40%;
    font-size: clamp(2rem,3rem,4rem);
    text-align: left;
    font-weight: bolder;
    margin: 20vh 8vw 3rem;
}
#hero button{
    width: 12rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin: 0 8vw;
    transition: 0.3s ease;
}
#hero button:hover{
    transform: translateY(-20px);
    background-color: var(--sec-color);
    color: var(--text-color);
}

#cards{
    margin: 2rem;
}
h1{
    color: var(--text-color-2);
    font-size: 4rem;
    margin: 5rem;
    text-align: center;
}
.card-container{
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: clamp(1.5rem, 4vw, 5rem);
    margin: 2rem;
}
.card{
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    padding: clamp(1rem, 3vw, 2rem);
    border-radius: 2rem;
    background-color: var(--sec-color);
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
    will-change: transform;
}
.card img{
    width: 100%;
    border-radius: 1.7rem;
}
.card h2{
    margin: 0.5rem 0 0 0;
    font-size: 3rem;
}
.card p{
    font-size: 1.2rem;
}

.track{
    display: flex;
}
.carousel img{
    width: 60vw;
}
.active{
    scale: 1.2;
}