@import './variables.css';

html, body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.user-form{
    margin: 20vh;
    color: var(--sec-color);
    text-align: center;
    font-size: 2rem;
}
form{
    display: flex;
    background-color: var(--sec-color);
    padding: 5vw;
    font-weight: bold;
    font-size: 1.5rem;
    height: 50vh;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px 0;
}
form .container{
    width: 50%; 
    display: flex;
}
.container input{
    margin: 0;
    width: 90%;
    height: 83%;
    border: 2px dotted var(--text-color);
    border-radius: 2rem;
}
form .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
form img{
    border-radius: 2rem;
}
form input{
    margin: 0.5rem;
    font-size: 1.2rem;
    padding: 1.8rem;
    width: 80%;
    height: 0;
    border: 2px solid grey;
    border-radius: 1.2rem;
}
form button{
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--tert-color);
    margin: 0.5rem;
    height: 8rem;
    width: 88%;
    border-radius: 1.2rem;
    transition: scale 0.3s ease;
}
form button:hover{
    scale: 1.1;
}