@import './variables.css';

html, body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}
